{
    "presets": ["env", "react"],
    "env": {
      "test": {
        "presets": [
          ["env"], 
          ["jest"], 
          ["react"]
         ],
        "plugins":"transform-object-rest-spread"
      }
    }
}